{% extends "base.html" %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'RegistrationStyle.css' %}" />
<link rel="stylesheet" href="{% static 'FormStyle.css' %}" />
{% endblock head %}
    

{% block title %} Login {% endblock %}

{% block content %}
<div class="container registration-container form-holder">
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="a-reverse-button mt-3">
    </form>
    <a class="mt-3" href="{% url 'django_registration_register' %}">Register</a>
</div>
{% endblock %}