.form-holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  } 
   
  button {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  }
  
  .form-input-material {
    --default-color: white;
    --border-bottom-color: white;
  }
  
 form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px 30px 40px; 
    color: white;
    background: #343a40;
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
    margin-top: 24px;
    }

    
     label {
      margin-top: 4px;
    } 
  
    input {
      margin: 12px 0;
    }
  
    button {
      width: 100%;
      margin: 18px 0 9px 0;
    }