{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'RegistrationStyle.css' %}" />
<link rel="stylesheet" href="{% static 'FormStyle.css' %}" />
{% endblock head %}

{% block title %} Registration {% endblock %}

{% block content %}
<div class="container registration-container form-holder">
    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="a-reverse-button mt-3">
    </form>
</div>
{% endblock %}